<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container mt-5">
	<div class="card">
  <div class="card-header">
    Store Sales Dashboard
  </div>
  <div class="card-body">
    <h5 class="card-title">Manager UserID : <span th:text="${userid}"></span></h5>
    <p class="card-text">WELCOME BACK MR. <span th:text="${name}"></span></p>
    
    
    <div class="container">
    	
    	<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Toatal Sales Value </th>
      <td><span th:text="${totalSalesAmt}"></span></td>
    </tr>
    <tr>
      <th scope="row">Total Discount Given</th>
      <td><span th:text="${sumOfDiscount}"></span></td>
    </tr>
    <tr>
      <th scope="row">Total final Amount</th>
      <td><span th:text="${sumOfFinalamt}"></span></td>
    </tr>
   
  </tbody>
</table>

<div class="card mt-4"> 

	<h5 class="text-center mt-2">Customers Information</h5>
	
	<div class="container mt-2 text-center">
  	
  		<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Bill amount($)</th>
      <th scope="col">Discount(%)</th>
      <th scope="col">Final bill($)</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="n:${list}">
      <th scope="row"><span th:text="${n.id}"></span></th>
      <td><span th:text="${n.CustName}"></span></td>
      <td><span th:text="${n.type}"></span></td>
      <td><span th:text="${n.amount}"></span></td>
      <td><span th:text="${n.discount}"></span></td>
      <td><span th:text="${n.finalPrice}"></span></td>
    </tr>
  </tbody>
</table>
	</div>

  
</div>
    </div>
    <div class="container text-center mt-3">
	    <a href="home" class="btn btn-primary">BACK</a>
    </div>
  </div>
</div>
</div>
</section>


</body>
</html>