<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">New Manager Sign up Here</div>
				<div class="card-body">
				
				<div th:if="${session.message=='alert'}" th:classappend="alert-success" class="alert" role="alert">
							<p class="text-center" >Susscessfully Register</p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
				
					<form action="registerProcess" method="post">
						<div class="form-group mt-3">
							<label for="exampleInputEmail1">User ID</label> <input
								type="text" class="form-control" name="useridString"
								aria-describedby="emailHelp" placeholder="Enter userid">
							
						</div>
						<div class="form-group mt-3">
							<label for="exampleInputEmail1">Name</label> <input
								type="text" class="form-control" name="nameString"
								aria-describedby="emailHelp" placeholder="Enter name">
							
						</div>
						<div class="form-group mt-3">
							<label for="exampleInputEmail1">mobile no.</label> <input
								type="text" class="form-control" name="mobilenoString"
								aria-describedby="emailHelp" placeholder="Enter mobile no.">
							
						</div>
						
						<div class="form-check form-check-inline mt-3">
							<input class="form-check-input" type="radio"
								name="genderString" id="inlineRadio1" value="male">
							<label class="form-check-label" for="inlineRadio1">male</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								name="genderString" id="inlineRadio2" value="female">
							<label class="form-check-label" for="inlineRadio2">female</label>
						</div>
						
						<div class="form-group mt-3">
							<label for="exampleInputPassword1">Password</label> <input
								type="password" class="form-control" name="passString"
								placeholder="Password">
						</div>
						<div class="container mt-3 text-center">
						<button type="submit" class="btn btn-primary ">Register</button>
						<a href="manager/home" class="btn btn-primary ">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


</body>
</html>